@model CustomerDetailVM

@{
    ViewData["Title"] = "Detail";
}

<link rel="stylesheet" href="~/lib/plugins/toastr/toastr.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/lib/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/lib/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/lib/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="~/lib/plugins/toastr/toastr.min.css">

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            @*<div class="col-sm-6">
            <h1 class="m-0">Müşteriler</h1>
            </div><!-- /.col -->*@
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <button type="button" class="btn btn-outline-primary btn-block" onclick="history.go(-1)"><i class="fa fa-arrow-alt-circle-left"></i> Geri</button>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


<section class="content">
    <div class="container-fluid">
        <div class="card card-default color-palette-box">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-tag"></i>
                    @Model.CustomerName @Model.CustomerSurname
                </h3>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-info"><i class="far fa-star"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">
                                    <a href="#modal-all-appointments" data-toggle="modal" >Tüm Randevuları</a>
                                </span>
                                <span class="info-box-number">@Model.TotalAppointmentCount</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Tamamlanan Getiri</span>
                                <span class="info-box-number">@Model.ComplatedIncome ₺</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-warning"><i class="far fa-flag"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Planlanan Getiri</span>
                                <span class="info-box-number">@Model.PlannedIncome ₺</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Randevu İptalleri</span>
                                <span class="info-box-number">@Model.CancelAppointmentCount</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                </div>

            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">

        <div class="modal fade" id="modal-packet">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Paketler</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group col-md-12">
                            <input type="hidden" id="customerId" value="@Model.CustomerId"/>
                            @if (Model.PacketsSelectList?.Count > 0)
                            {
                                <label for="">Paket Seçimi</label>
                                <select name="packetId" id="packetId" class="form-control" asp-items="@Model.PacketsSelectList">
                                    @*<option value="0">Lütfen paket seçiniz.</option>*@
                                </select>
                            }
                            else
                            {
                                <label for="">Tanımlanabilecek bir paket bulunmuyor.</label>
                            }
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                        @if (Model.PacketsSelectList?.Count > 0)
                        {
                            <button type="button" id="btnSaveCustomerPacket" class="btn btn-primary">Paket Tanımla</button>
                        }
                        
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        
    <div class="modal fade" id="modal-all-appointments">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Müşterinin Tüm Randevuları</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Tarih</th>
                                <th>Hizmet</th>
                                <th>Konu</th>
                                <th>Ödeme Tipi</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in @Model.CustomerAppointmentHistory)
                            {
                                <tr>
                                        
                                    <td>@item.AppointmentDate.ToString("dd.MM.yyyy HH:mm")</td>
                                    <td>@item.ProductName</td>
                                    <td>@item.AppointmentTitle</td>
                                    <td>@item.PaymentType</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

        <div class="modal fade" id="modal-packet-history">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Müşterinin Paket Kayıtları</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Paket Geçmişi</h3>
                                </div>
                                
                                <div class="card-body p-0">
                                    <table id="tblPacketHistory" class="table table-hover">
                                        <tbody>
                                        
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>

    <div class="row">
            <div class="col-md-8">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-edit"></i>
                            Bilgiler
                        </h3>
                    </div>

                    <div class="card-body">
                        <form asp-controller="Customer2" asp-action="Update" method="post">
                            <input type="hidden" name="customerId" value="@Model.CustomerId" />
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Adı</label>
                                        <input type="text" name="customerName" class="form-control" value=@Model.CustomerName>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Soyadı</label>
                                        <input type="text" name="customerSurname" class="form-control" value=@Model.CustomerSurname>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Telefon</label>
                                        <input type="text" class="form-control" name="phoneNumber" value='@Model.PhoneNumber'
                                               data-inputmask='"mask": "0 (999) 999 99 99"' data-mask>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Çocuk Doğum Tarihi</label>
                                        <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                                            <input name="childbirthday" value='@Model.ChildBirthday' id="inputChildBirthDay" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker3" data-date-format="YYYY/MM/DD"/>
                                            <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Çocuk Adı</label>
                                        <input type="text" name="childName" class="form-control" value='@Model.ChildName'>
                                    </div>
                                </div>
                                @*<div class="col-sm-6">
                                <div class="form-group">
                                <label>Çocuk Doğum Tarihi</label>
                                <input type="text" class="form-control" value="18.09.2018" disabled>
                                </div>
                                </div>*@
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-warning">Güncelle</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <i class="fas fa-book"></i>
                                    Paket Bilgileri
                                </div>
                                <div class="col-sm-6">
                                    <ol class="float-sm-right">
                                        <i class="fas fa-clock">
                                        <a href="javascript:getCustomerPacketHistory()">Geçmiş</a>
                                        </i>
                                    </ol>
                                </div>
                            </div>
                    </div>

                    <div class="card-body">
                        @if (Model.CustomerPacket.Count > 0)
                        {
                            foreach (var customerPacket in Model.CustomerPacket)
                            {
                                <div class="info-box bg-info">
                                    <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">@customerPacket.ProductName</span>
                                        <span class="info-box-text">@customerPacket.PacketName</span>
                                        <span class="info-box-number">@customerPacket.UsedPieces/@customerPacket.PacketSize</span>

                                        <div class="progress">
                                            <div class="progress-bar" style="width: @customerPacket.Rate%"></div>
                                        </div>
                                        <span class="progress-description">
                                            @customerPacket.PacketCreatedElapsedTime gün içinde %@customerPacket.Rate kullanıldı
                                        </span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                            }
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-packet">Paket Tanımla</button>
                            </div>
                        }
                        else
                        {
                            <!-- small card -->
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>Paket Yok</h3>

                                    <p>Yeni paket tanımlayabilirsin</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-user-plus"></i>
                                </div>
                                <a href="#modal-packet" data-toggle="modal" class="small-box-footer">
                                    Paket Tanımla <i class="fas fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        }
                    </div>
                    <!-- /.card-body -->
                    @*<div class="card-footer">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-packet">Paket Tanımla</button>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts
{
    <!-- DataTables  & Plugins -->
    <script src="~/lib/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/plugins/jszip/jszip.min.js"></script>
    <script src="~/lib/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/plugins/toastr/toastr.min.js"></script>
    <!-- InputMask -->
    <script src="~/lib/plugins/moment/moment.min.js"></script>
    <script src="~/lib/plugins/inputmask/jquery.inputmask.min.js"></script>

    <script src="~/lib/plugins/toastr/toastr.min.js"></script>

    <script>

        function getCustomerPacketHistory() {
            var customerId = $('#customerId').val();
            var data = { CustomerId: customerId }
            $('#modal-packet-history').modal('show');
            $.ajax({
                url: '/Customer2/GetCustomerPacketHistory',
                data: data,
                success: function (response) {
                    setPacketHistoryTable(response.customerPackets);
                    //if (response === "200") {
                    //    $('#modal-packet').modal('hide');
                    //    alertify.success('Paket tanımlaması yapıldı');
                    //    window.location.href = "/customer2/Detail/" + customerId
                    //} else {
                    //    $('#modal-packet').modal('hide');
                    //    alertify.warning('Paket tanımlamada hata oluştu');
                    //}
                },
                error: function () {
                    //$('#modal-packet').modal('hide');
                    alertify.error('Erişim sağlanamadı.');
                }
            });
        }

        function setPacketHistoryTable(packetHistory) {
            var tbl = $("#tblPacketHistory").find('tbody');
            tbl.empty();
            for (var i = 0; i < packetHistory.length; i++) {

                var color = packetHistory[i].status == true ? "#54ab54" : "#f6090c";
                
                var rowHtml = "";


                for (var j = 0; j < packetHistory[i].appointments.length; j++) {
                    rowHtml += '<tr>' +
                        '<td>' +
                        (j + 1) +
                        ' - ' +
                        packetHistory[i].appointments[j].appointmentSubject +
                        ' (' +
                        packetHistory[i].appointments[j].appointmentDate +
                        ')' +
                        '</td>' +
                        '</tr>';
                }

                tbl.append('<tr data-widget="expandable-table" aria-expanded="false" style="background-color: ' + color + '">' +
                                '<td>'+ 
                                    '<i class="expandable-table-caret fas fa-caret-right fa-fw"></i>' + 
                                        packetHistory[i].packetName + 
                                '</td>' +
                            '</tr>'+
                            '<tr class="expandable-body">' +
                                '<td>' +
                                    '<div class="p-0">' +
                                        '<table class="table table-hover">' +
                                            '<tbody>' +
                                            rowHtml +
                                            '</tbody>' +
                                        '</table>' +
                                    '</div>' +
                                '</td>' +
                            '</tr>');
                
            }
        }

        

        $(function () {

            $('#btnSaveCustomerPacket').click(function () {

                var customerId = $('#customerId').val();
                var packetId = $("#packetId option:selected").val();
                var data = { CustomerId: customerId, PacketId: packetId }

                $.ajax({
                    type: 'POST',
                    url: '/Customer2/AddCustomerPacket',
                    data: data,
                    success: function (response) {
                        if (response === "200") {
                            $('#modal-packet').modal('hide');
                            alertify.success('Paket tanımlaması yapıldı');
                            window.location.href = "/customer2/Detail/" + customerId
                        } else {
                            $('#modal-packet').modal('hide');
                            alertify.warning('Paket tanımlamada hata oluştu');
                        }
                    },
                    error: function () {
                        $('#modal-packet').modal('hide');
                        alertify.error('Erişim sağlanamadı.');
                    }
                });


            });

            $('#datetimepicker3').datetimepicker({
                format: 'DD/MM/YYYY'
            });

            $('[data-mask]').inputmask()

            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["excel", "pdf", "print"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    
    
    </script>

    @if (TempData["notification"] != null)
    {
        <script>
            @Html.Raw(TempData["notification"])
        </script>
    }
}
